AnyTrack.Projects/Service References/BackendProjectService/ProjectService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProjectService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5789/ProjectService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5789/ProjectService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5789/ProjectService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AnyTrack.Backend.Service.Model" />
      <xsd:import schemaLocation="http://localhost:5789/ProjectService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProjectService_AddProject_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_AddProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_UpdateProject_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_UpdateProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_DeleteProject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_DeleteProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_DeleteStoryFromProject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStoryFromProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_DeleteStoryFromProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStoryFromProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjects" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_SearchUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchUsers" />
  </wsdl:message>
  <wsdl:message name="IProjectService_SearchUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectNames" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectServiceStorySummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectServiceStorySummary" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectServiceStorySummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectServiceStorySummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_AddStoryToProject_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStoryToProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_AddStoryToProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStoryToProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetUserProjectRoleSummaries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProjectRoleSummaries" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetUserProjectRoleSummaries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProjectRoleSummariesResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectStory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectStory" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectStory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectStoryResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_EditStory_InputMessage">
    <wsdl:part name="parameters" element="tns:EditStory" />
  </wsdl:message>
  <wsdl:message name="IProjectService_EditStory_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditStoryResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_SaveUpdateStory_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUpdateStory" />
  </wsdl:message>
  <wsdl:message name="IProjectService_SaveUpdateStory_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUpdateStoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IProjectService">
    <wsdl:operation name="AddProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/AddProject" message="tns:IProjectService_AddProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/AddProjectResponse" message="tns:IProjectService_AddProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/UpdateProject" message="tns:IProjectService_UpdateProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/UpdateProjectResponse" message="tns:IProjectService_UpdateProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/DeleteProject" message="tns:IProjectService_DeleteProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/DeleteProjectResponse" message="tns:IProjectService_DeleteProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStoryFromProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/DeleteStoryFromProject" message="tns:IProjectService_DeleteStoryFromProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/DeleteStoryFromProjectResponse" message="tns:IProjectService_DeleteStoryFromProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProject" message="tns:IProjectService_GetProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectResponse" message="tns:IProjectService_GetProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjects" message="tns:IProjectService_GetProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectsResponse" message="tns:IProjectService_GetProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/SearchUsers" message="tns:IProjectService_SearchUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/SearchUsersResponse" message="tns:IProjectService_SearchUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectNames" message="tns:IProjectService_GetProjectNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectNamesResponse" message="tns:IProjectService_GetProjectNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectServiceStorySummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectServiceStorySummary" message="tns:IProjectService_GetProjectServiceStorySummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectServiceStorySummaryResponse" message="tns:IProjectService_GetProjectServiceStorySummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStoryToProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/AddStoryToProject" message="tns:IProjectService_AddStoryToProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/AddStoryToProjectResponse" message="tns:IProjectService_AddStoryToProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProjectRoleSummaries">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetUserProjectRoleSummaries" message="tns:IProjectService_GetUserProjectRoleSummaries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetUserProjectRoleSummariesResponse" message="tns:IProjectService_GetUserProjectRoleSummaries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectStory">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectStory" message="tns:IProjectService_GetProjectStory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectStoryResponse" message="tns:IProjectService_GetProjectStory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditStory">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/EditStory" message="tns:IProjectService_EditStory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/EditStoryResponse" message="tns:IProjectService_EditStory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUpdateStory">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/SaveUpdateStory" message="tns:IProjectService_SaveUpdateStory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/SaveUpdateStoryResponse" message="tns:IProjectService_SaveUpdateStory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProjectService" type="tns:IProjectService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/AddProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/UpdateProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/DeleteProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStoryFromProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/DeleteStoryFromProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjects">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <soap:operation soapAction="http://tempuri.org/IProjectService/SearchUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectNames">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectServiceStorySummary">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectServiceStorySummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStoryToProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/AddStoryToProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProjectRoleSummaries">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetUserProjectRoleSummaries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectStory">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectStory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditStory">
      <soap:operation soapAction="http://tempuri.org/IProjectService/EditStory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUpdateStory">
      <soap:operation soapAction="http://tempuri.org/IProjectService/SaveUpdateStory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProjectService">
    <wsdl:port name="BasicHttpBinding_IProjectService" binding="tns:BasicHttpBinding_IProjectService">
      <soap:address location="http://localhost:5789/ProjectService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>