AnyTrack.Projects/Service References/BackendProjectService/ProjectService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AnyTrack.Backend.Service.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AnyTrack.Backend.Service.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5789/ProjectService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:5789/ProjectService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ServiceProject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductOwnerEmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectId" type="ser:guid" />
      <xs:element minOccurs="0" name="ProjectManagerEmailAddress" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ScrumMasterEmailAddresses" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="ServiceStoryId" nillable="true" type="tns:ServiceStory" />
      <xs:element minOccurs="0" name="StartedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Stories" nillable="true" type="tns:ArrayOfServiceStory" />
      <xs:element minOccurs="0" name="VersionControl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceProject" nillable="true" type="tns:ServiceProject" />
  <xs:complexType name="ServiceStory">
    <xs:sequence>
      <xs:element minOccurs="0" name="AsA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConditionsOfSatisfaction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IWant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectId" type="ser:guid" />
      <xs:element minOccurs="0" name="SoThat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoryId" type="ser:guid" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceStory" nillable="true" type="tns:ServiceStory" />
  <xs:complexType name="ArrayOfServiceStory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceStory" nillable="true" type="tns:ServiceStory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceStory" nillable="true" type="tns:ArrayOfServiceStory" />
  <xs:complexType name="ArrayOfServiceProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceProject" nillable="true" type="tns:ServiceProject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceProject" nillable="true" type="tns:ArrayOfServiceProject" />
  <xs:complexType name="UserSearchFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductOwner" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ScrumMaster" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSearchFilter" nillable="true" type="tns:UserSearchFilter" />
  <xs:complexType name="ArrayOfUserSearchInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserSearchInfo" nillable="true" type="tns:UserSearchInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserSearchInfo" nillable="true" type="tns:ArrayOfUserSearchInfo" />
  <xs:complexType name="UserSearchInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSearchInfo" nillable="true" type="tns:UserSearchInfo" />
  <xs:complexType name="ArrayOfProjectDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectDetails" nillable="true" type="tns:ProjectDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectDetails" nillable="true" type="tns:ArrayOfProjectDetails" />
  <xs:complexType name="ProjectDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProjectId" type="ser:guid" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectDetails" nillable="true" type="tns:ProjectDetails" />
  <xs:complexType name="ArrayOfStoryDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoryDetails" nillable="true" type="tns:StoryDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoryDetails" nillable="true" type="tns:ArrayOfStoryDetails" />
  <xs:complexType name="StoryDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProjectId" type="ser:guid" />
      <xs:element minOccurs="0" name="StoryId" type="ser:guid" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoryDetails" nillable="true" type="tns:StoryDetails" />
</xs:schema>