Common/AnyTrack.Infrastructure/Service References/BackendAccountService/AccountService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AnyTrack.Backend.Service.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AnyTrack.Backend.Service.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5789/AccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ServiceUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Developer" type="xs:boolean" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductOwner" type="xs:boolean" />
      <xs:element minOccurs="0" name="ScrumMaster" type="xs:boolean" />
      <xs:element minOccurs="0" name="SecretAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecretQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Skills" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceUser" nillable="true" type="tns:ServiceUser" />
  <xs:complexType name="ServiceUserCredential">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceUserCredential" nillable="true" type="tns:ServiceUserCredential" />
  <xs:complexType name="ServiceLoginResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedRoles" nillable="true" type="tns:ArrayOfServiceRoleInfo" />
      <xs:element minOccurs="0" name="Developer" type="xs:boolean" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductOwner" type="xs:boolean" />
      <xs:element minOccurs="0" name="ScrumMaster" type="xs:boolean" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceLoginResult" nillable="true" type="tns:ServiceLoginResult" />
  <xs:complexType name="ArrayOfServiceRoleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceRoleInfo" nillable="true" type="tns:ServiceRoleInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceRoleInfo" nillable="true" type="tns:ArrayOfServiceRoleInfo" />
  <xs:complexType name="ServiceRoleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProjectId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SprintId" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceRoleInfo" nillable="true" type="tns:ServiceRoleInfo" />
</xs:schema>