Modules/AnyTrack.PlanningPoker/Service References/BackendPlanningPokerManagerService/PlanningPokerManagerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AnyTrack.Backend.Service.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AnyTrack.Backend.Service.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5789/PlanningPokerManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:5789/PlanningPokerManagerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ServiceSessionChangeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="SprintId" type="ser:guid" />
      <xs:element minOccurs="0" name="SprintName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceSessionChangeInfo" nillable="true" type="tns:ServiceSessionChangeInfo" />
  <xs:complexType name="ServicePlanningPokerSession">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveStoryIndex" type="xs:int" />
      <xs:element minOccurs="0" name="HostID" type="ser:guid" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionID" type="ser:guid" />
      <xs:element minOccurs="0" name="SprintID" type="ser:guid" />
      <xs:element minOccurs="0" name="SprintName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="tns:ServicePlanningPokerSessionState" />
      <xs:element minOccurs="0" name="Stories" nillable="true" type="tns:ArrayOfServiceSprintStory" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfServicePlanningPokerUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicePlanningPokerSession" nillable="true" type="tns:ServicePlanningPokerSession" />
  <xs:simpleType name="ServicePlanningPokerSessionState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pending" />
      <xs:enumeration value="Started" />
      <xs:enumeration value="GettingEstimates" />
      <xs:enumeration value="ShowingEstimates" />
      <xs:enumeration value="Complete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServicePlanningPokerSessionState" nillable="true" type="tns:ServicePlanningPokerSessionState" />
  <xs:complexType name="ArrayOfServiceSprintStory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceSprintStory" nillable="true" type="tns:ServiceSprintStory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceSprintStory" nillable="true" type="tns:ArrayOfServiceSprintStory" />
  <xs:complexType name="ServiceSprintStory">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCompleted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SprintId" type="ser:guid" />
      <xs:element minOccurs="0" name="SprintStoryId" type="ser:guid" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Story" nillable="true" type="tns:ServiceStory" />
      <xs:element minOccurs="0" name="StoryEstimate" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceSprintStory" nillable="true" type="tns:ServiceSprintStory" />
  <xs:complexType name="ServiceStory">
    <xs:sequence>
      <xs:element minOccurs="0" name="AsA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConditionsOfSatisfaction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IWant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InSprint" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProjectId" type="ser:guid" />
      <xs:element minOccurs="0" name="SoThat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoryId" type="ser:guid" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceStory" nillable="true" type="tns:ServiceStory" />
  <xs:complexType name="ArrayOfServicePlanningPokerUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServicePlanningPokerUser" nillable="true" type="tns:ServicePlanningPokerUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicePlanningPokerUser" nillable="true" type="tns:ArrayOfServicePlanningPokerUser" />
  <xs:complexType name="ServicePlanningPokerUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientChannel" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estimate" nillable="true" type="tns:ServicePlanningPokerEstimate" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleSummary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UserRoles" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicePlanningPokerUser" nillable="true" type="tns:ServicePlanningPokerUser" />
  <xs:complexType name="ServicePlanningPokerEstimate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estimate" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicePlanningPokerEstimate" nillable="true" type="tns:ServicePlanningPokerEstimate" />
  <xs:complexType name="ServiceChatMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceChatMessage" nillable="true" type="tns:ServiceChatMessage" />
</xs:schema>