Modules/AnyTrack.PlanningPoker/Service References/BackendPlanningPokerManagerService/PlanningPokerManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PlanningPokerManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="wsDualHttpBindingEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5789/PlanningPokerManagerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5789/PlanningPokerManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5789/PlanningPokerManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AnyTrack.Backend.Service.Model" />
      <xsd:import schemaLocation="http://localhost:5789/PlanningPokerManagerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPlanningPokerManagerService_SubscribeToNewSessionMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeToNewSessionMessages" />
  </wsdl:message>
  <wsdl:message name="IPlanningPokerManagerService_SubscribeToNewSessionMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeToNewSessionMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IPlanningPokerManagerService_StartNewPokerSession_InputMessage">
    <wsdl:part name="parameters" element="tns:StartNewPokerSession" />
  </wsdl:message>
  <wsdl:message name="IPlanningPokerManagerService_StartNewPokerSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartNewPokerSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IPlanningPokerManagerService_CancelPendingPokerSession_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelPendingPokerSession" />
  </wsdl:message>
  <wsdl:message name="IPlanningPokerManagerService_CancelPendingPokerSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelPendingPokerSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IPlanningPokerManagerService_JoinSession_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinSession" />
  </wsdl:message>
  <wsdl:message name="IPlanningPokerManagerService_JoinSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IPlanningPokerManagerService_SubmitMessageToServer_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitMessageToServer" />
  </wsdl:message>
  <wsdl:message name="IPlanningPokerManagerService_NotifyClientOfSession_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyClientOfSession" />
  </wsdl:message>
  <wsdl:message name="IPlanningPokerManagerService_NotifyClientOfSession_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyClientOfSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IPlanningPokerManagerService_NotifyClientOfTerminatedSession_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyClientOfTerminatedSession" />
  </wsdl:message>
  <wsdl:message name="IPlanningPokerManagerService_NotifyClientOfTerminatedSession_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyClientOfTerminatedSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IPlanningPokerManagerService_SendMessageToClient_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToClient" />
  </wsdl:message>
  <wsdl:message name="IPlanningPokerManagerService_SendMessageToClient_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToClientResponse" />
  </wsdl:message>
  <wsdl:message name="IPlanningPokerManagerService_NotifyClientToClearStoryPointEstimateFromServer_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyClientToClearStoryPointEstimateFromServer" />
  </wsdl:message>
  <wsdl:message name="IPlanningPokerManagerService_NotifyClientToClearStoryPointEstimateFromServer_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyClientToClearStoryPointEstimateFromServerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlanningPokerManagerService_ShowEstimatesToClients_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowEstimatesToClients" />
  </wsdl:message>
  <wsdl:message name="IPlanningPokerManagerService_ShowEstimatesToClients_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowEstimatesToClientsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPlanningPokerManagerService">
    <wsdl:operation name="SubscribeToNewSessionMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlanningPokerManagerService/SubscribeToNewSessionMessages" message="tns:IPlanningPokerManagerService_SubscribeToNewSessionMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlanningPokerManagerService/SubscribeToNewSessionMessagesResponse" message="tns:IPlanningPokerManagerService_SubscribeToNewSessionMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartNewPokerSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlanningPokerManagerService/StartNewPokerSession" message="tns:IPlanningPokerManagerService_StartNewPokerSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlanningPokerManagerService/StartNewPokerSessionResponse" message="tns:IPlanningPokerManagerService_StartNewPokerSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelPendingPokerSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlanningPokerManagerService/CancelPendingPokerSession" message="tns:IPlanningPokerManagerService_CancelPendingPokerSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlanningPokerManagerService/CancelPendingPokerSessionResponse" message="tns:IPlanningPokerManagerService_CancelPendingPokerSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlanningPokerManagerService/JoinSession" message="tns:IPlanningPokerManagerService_JoinSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlanningPokerManagerService/JoinSessionResponse" message="tns:IPlanningPokerManagerService_JoinSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitMessageToServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlanningPokerManagerService/SubmitMessageToServer" message="tns:IPlanningPokerManagerService_SubmitMessageToServer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyClientOfSession">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlanningPokerManagerService/NotifyClientOfSession" message="tns:IPlanningPokerManagerService_NotifyClientOfSession_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPlanningPokerManagerService/NotifyClientOfSessionResponse" message="tns:IPlanningPokerManagerService_NotifyClientOfSession_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyClientOfTerminatedSession">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlanningPokerManagerService/NotifyClientOfTerminatedSession" message="tns:IPlanningPokerManagerService_NotifyClientOfTerminatedSession_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPlanningPokerManagerService/NotifyClientOfTerminatedSessionResponse" message="tns:IPlanningPokerManagerService_NotifyClientOfTerminatedSession_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageToClient">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlanningPokerManagerService/SendMessageToClient" message="tns:IPlanningPokerManagerService_SendMessageToClient_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPlanningPokerManagerService/SendMessageToClientResponse" message="tns:IPlanningPokerManagerService_SendMessageToClient_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyClientToClearStoryPointEstimateFromServer">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlanningPokerManagerService/NotifyClientToClearStoryPointEstimateFromServer" message="tns:IPlanningPokerManagerService_NotifyClientToClearStoryPointEstimateFromServer_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPlanningPokerManagerService/NotifyClientToClearStoryPointEstimateFromServerResponse" message="tns:IPlanningPokerManagerService_NotifyClientToClearStoryPointEstimateFromServer_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowEstimatesToClients">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlanningPokerManagerService/ShowEstimatesToClients" message="tns:IPlanningPokerManagerService_ShowEstimatesToClients_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPlanningPokerManagerService/ShowEstimatesToClientsResponse" message="tns:IPlanningPokerManagerService_ShowEstimatesToClients_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsDualHttpBindingEndpoint" type="tns:IPlanningPokerManagerService">
    <wsp:PolicyReference URI="#wsDualHttpBindingEndpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubscribeToNewSessionMessages">
      <soap12:operation soapAction="http://tempuri.org/IPlanningPokerManagerService/SubscribeToNewSessionMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartNewPokerSession">
      <soap12:operation soapAction="http://tempuri.org/IPlanningPokerManagerService/StartNewPokerSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelPendingPokerSession">
      <soap12:operation soapAction="http://tempuri.org/IPlanningPokerManagerService/CancelPendingPokerSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinSession">
      <soap12:operation soapAction="http://tempuri.org/IPlanningPokerManagerService/JoinSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitMessageToServer">
      <soap12:operation soapAction="http://tempuri.org/IPlanningPokerManagerService/SubmitMessageToServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotifyClientOfSession">
      <soap12:operation soapAction="http://tempuri.org/IPlanningPokerManagerService/NotifyClientOfSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyClientOfTerminatedSession">
      <soap12:operation soapAction="http://tempuri.org/IPlanningPokerManagerService/NotifyClientOfTerminatedSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageToClient">
      <soap12:operation soapAction="http://tempuri.org/IPlanningPokerManagerService/SendMessageToClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyClientToClearStoryPointEstimateFromServer">
      <soap12:operation soapAction="http://tempuri.org/IPlanningPokerManagerService/NotifyClientToClearStoryPointEstimateFromServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowEstimatesToClients">
      <soap12:operation soapAction="http://tempuri.org/IPlanningPokerManagerService/ShowEstimatesToClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlanningPokerManagerService">
    <wsdl:port name="wsDualHttpBindingEndpoint" binding="tns:wsDualHttpBindingEndpoint">
      <soap12:address location="http://localhost:5789/PlanningPokerManagerService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:5789/PlanningPokerManagerService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>