Common/AnyTrack.Infrastructure/Service References/BackendSprintService/SprintService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SprintService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5789/SprintService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5789/SprintService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5789/SprintService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AnyTrack.Backend.Service.Model" />
      <xsd:import schemaLocation="http://localhost:5789/SprintService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISprintService_AddSprint_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSprint" />
  </wsdl:message>
  <wsdl:message name="ISprintService_AddSprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSprintResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_EditSprint_InputMessage">
    <wsdl:part name="parameters" element="tns:EditSprint" />
  </wsdl:message>
  <wsdl:message name="ISprintService_EditSprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditSprintResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetSprint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSprint" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetSprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSprintResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetAllTasksForSprintCurrentUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasksForSprintCurrentUser" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetAllTasksForSprintCurrentUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasksForSprintCurrentUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetAllTasksForSprint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasksForSprint" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetAllTasksForSprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasksForSprintResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_SaveUpdatedTaskHours_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUpdatedTaskHours" />
  </wsdl:message>
  <wsdl:message name="ISprintService_SaveUpdatedTaskHours_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUpdatedTaskHoursResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetSprintNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSprintNames" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetSprintNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSprintNamesResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetSprintStories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSprintStories" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetSprintStories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSprintStoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetStartDateOfSprint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStartDateOfSprint" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetStartDateOfSprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStartDateOfSprintResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetEndDateOfSprint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEndDateOfSprint" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetEndDateOfSprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEndDateOfSprintResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetMaxEstimateOfSprint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxEstimateOfSprint" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetMaxEstimateOfSprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxEstimateOfSprintResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_ManageSprintBacklog_InputMessage">
    <wsdl:part name="parameters" element="tns:ManageSprintBacklog" />
  </wsdl:message>
  <wsdl:message name="ISprintService_ManageSprintBacklog_OutputMessage">
    <wsdl:part name="parameters" element="tns:ManageSprintBacklogResponse" />
  </wsdl:message>
  <wsdl:portType name="ISprintService">
    <wsdl:operation name="AddSprint">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/AddSprint" message="tns:ISprintService_AddSprint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/AddSprintResponse" message="tns:ISprintService_AddSprint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditSprint">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/EditSprint" message="tns:ISprintService_EditSprint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/EditSprintResponse" message="tns:ISprintService_EditSprint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSprint">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/GetSprint" message="tns:ISprintService_GetSprint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/GetSprintResponse" message="tns:ISprintService_GetSprint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTasksForSprintCurrentUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/GetAllTasksForSprintCurrentUser" message="tns:ISprintService_GetAllTasksForSprintCurrentUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/GetAllTasksForSprintCurrentUserResponse" message="tns:ISprintService_GetAllTasksForSprintCurrentUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTasksForSprint">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/GetAllTasksForSprint" message="tns:ISprintService_GetAllTasksForSprint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/GetAllTasksForSprintResponse" message="tns:ISprintService_GetAllTasksForSprint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUpdatedTaskHours">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/SaveUpdatedTaskHours" message="tns:ISprintService_SaveUpdatedTaskHours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/SaveUpdatedTaskHoursResponse" message="tns:ISprintService_SaveUpdatedTaskHours_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSprintNames">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/GetSprintNames" message="tns:ISprintService_GetSprintNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/GetSprintNamesResponse" message="tns:ISprintService_GetSprintNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSprintStories">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/GetSprintStories" message="tns:ISprintService_GetSprintStories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/GetSprintStoriesResponse" message="tns:ISprintService_GetSprintStories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStartDateOfSprint">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/GetStartDateOfSprint" message="tns:ISprintService_GetStartDateOfSprint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/GetStartDateOfSprintResponse" message="tns:ISprintService_GetStartDateOfSprint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEndDateOfSprint">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/GetEndDateOfSprint" message="tns:ISprintService_GetEndDateOfSprint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/GetEndDateOfSprintResponse" message="tns:ISprintService_GetEndDateOfSprint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxEstimateOfSprint">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/GetMaxEstimateOfSprint" message="tns:ISprintService_GetMaxEstimateOfSprint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/GetMaxEstimateOfSprintResponse" message="tns:ISprintService_GetMaxEstimateOfSprint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ManageSprintBacklog">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/ManageSprintBacklog" message="tns:ISprintService_ManageSprintBacklog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/ManageSprintBacklogResponse" message="tns:ISprintService_ManageSprintBacklog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISprintService" type="tns:ISprintService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddSprint">
      <soap:operation soapAction="http://tempuri.org/ISprintService/AddSprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditSprint">
      <soap:operation soapAction="http://tempuri.org/ISprintService/EditSprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSprint">
      <soap:operation soapAction="http://tempuri.org/ISprintService/GetSprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTasksForSprintCurrentUser">
      <soap:operation soapAction="http://tempuri.org/ISprintService/GetAllTasksForSprintCurrentUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTasksForSprint">
      <soap:operation soapAction="http://tempuri.org/ISprintService/GetAllTasksForSprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUpdatedTaskHours">
      <soap:operation soapAction="http://tempuri.org/ISprintService/SaveUpdatedTaskHours" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSprintNames">
      <soap:operation soapAction="http://tempuri.org/ISprintService/GetSprintNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSprintStories">
      <soap:operation soapAction="http://tempuri.org/ISprintService/GetSprintStories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStartDateOfSprint">
      <soap:operation soapAction="http://tempuri.org/ISprintService/GetStartDateOfSprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEndDateOfSprint">
      <soap:operation soapAction="http://tempuri.org/ISprintService/GetEndDateOfSprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxEstimateOfSprint">
      <soap:operation soapAction="http://tempuri.org/ISprintService/GetMaxEstimateOfSprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManageSprintBacklog">
      <soap:operation soapAction="http://tempuri.org/ISprintService/ManageSprintBacklog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SprintService">
    <wsdl:port name="BasicHttpBinding_ISprintService" binding="tns:BasicHttpBinding_ISprintService">
      <soap:address location="http://localhost:5789/SprintService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>