Common/AnyTrack.Infrastructure/Service References/BackendSprintService/SprintService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SprintService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5789/SprintService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5789/SprintService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5789/SprintService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AnyTrack.Backend.Service.Model" />
      <xsd:import schemaLocation="http://localhost:5789/SprintService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISprintService_AddSprint_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSprint" />
  </wsdl:message>
  <wsdl:message name="ISprintService_AddSprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSprintResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_EditSprint_InputMessage">
    <wsdl:part name="parameters" element="tns:EditSprint" />
  </wsdl:message>
  <wsdl:message name="ISprintService_EditSprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditSprintResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetAllTasksForSprintCurrentUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasksForSprintCurrentUser" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetAllTasksForSprintCurrentUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasksForSprintCurrentUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_SaveUpdatedTaskHours_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUpdatedTaskHours" />
  </wsdl:message>
  <wsdl:message name="ISprintService_SaveUpdatedTaskHours_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUpdatedTaskHoursResponse" />
  </wsdl:message>
  <wsdl:portType name="ISprintService">
    <wsdl:operation name="AddSprint">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/AddSprint" message="tns:ISprintService_AddSprint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/AddSprintResponse" message="tns:ISprintService_AddSprint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditSprint">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/EditSprint" message="tns:ISprintService_EditSprint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/EditSprintResponse" message="tns:ISprintService_EditSprint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTasksForSprintCurrentUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/GetAllTasksForSprintCurrentUser" message="tns:ISprintService_GetAllTasksForSprintCurrentUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/GetAllTasksForSprintCurrentUserResponse" message="tns:ISprintService_GetAllTasksForSprintCurrentUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUpdatedTaskHours">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/SaveUpdatedTaskHours" message="tns:ISprintService_SaveUpdatedTaskHours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/SaveUpdatedTaskHoursResponse" message="tns:ISprintService_SaveUpdatedTaskHours_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISprintService" type="tns:ISprintService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddSprint">
      <soap:operation soapAction="http://tempuri.org/ISprintService/AddSprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditSprint">
      <soap:operation soapAction="http://tempuri.org/ISprintService/EditSprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTasksForSprintCurrentUser">
      <soap:operation soapAction="http://tempuri.org/ISprintService/GetAllTasksForSprintCurrentUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUpdatedTaskHours">
      <soap:operation soapAction="http://tempuri.org/ISprintService/SaveUpdatedTaskHours" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SprintService">
    <wsdl:port name="BasicHttpBinding_ISprintService" binding="tns:BasicHttpBinding_ISprintService">
      <soap:address location="http://localhost:5789/SprintService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>